.container{
    max-width: 120rem;//1200px
    /* center this container  */
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow:var(--shadow-dark); 
    min-height: 50rem;
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color:#fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    /* divide the empry space between these element  */
    justify-content:space-between;
    /* align on the cross axis */
    align-items: center;
}
/* this is our flex container */
.content{
    display: flex;
}

/* flex item */
.sidebar{
    background-color: var(--color-grey-dark-1);
    /*grow shrink bases/width  */
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* flex item */
     
.hotel-view{
    /* by using flex:1 were saying the element can grow as much as it can */
    background-color: #fff;
    flex:1;
}     


/* this is the details layout */
.detail{
    font-size: 1.4rem;
    font-weight: 550;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}
 
.description{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex:0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
 } 

.user-reviews{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;


}